<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Kayip_Evcil_Hayvan_Takip_Sistemi"
			 connectionString="Data Source=NITRO5\SQLEXPRESS;Initial Catalog=Kayip_Evcil_Hayvan_Takip_Sistemi;Integrated Security=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>